{% extends "base.html" %}
{% load static %}
{% block title %} Category {% endblock title %}

{% block main-content %}
<div class="container my-5">
    <div>
    <div class="row">
        <div class="col-sm-3">
            <!--div class="list-group">
                {% for b in Brand %}
                <a href="#" class="list-group-item list-group-item-action text-primary" aria-current="true">{{b.brand_name}}</a>
                {% endfor %}
            </div -->
            <div class="list-group">
                {% for c in category_data %}
                <a href="#" class="list-group-item list-group-item-action text-primary" aria-current="true">{{c.category_name}}</a>
                {% endfor %} 
            </div>
        </div>
        <div class="col-sm-9">
            <div class="row">

                {% comment %} <div class="col text-center mb-4">
                    <a href="#" class="btn">
                        <div class="goodnesssec buttermilk smbg">
                            <img src="#" width="300px" height="200px" />
                            <div class="fw-bold">Product_name</div>
                            <div class="fw-bold text-danger">
                                Rs. 000 /-
                                <small class="fw-light text-decoration-line-through">
                                    Product_selling_Price
                                </small>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col text-center mb-4">
                    <a href="#" class="btn">
                        <div class="goodnesssec buttermilk curdbgpro">
                            <img src="#" width="300px" height="200px" />
                            <div class="fw-bold">Product_name</div>
                            <div class="fw-bold text-danger">
                                Rs. 000 /-
                                <small class="fw-light text-decoration-line-through">
                                    Product_selling_Price
                                </small>
                            </div>
                        </div>
                    </a>
                </div>

            </div> {% endcomment %}
            <div class="row">
                {% for pdc in prod_data_cat %}
                <div class="col text-center mb-4">
                    <a href="{% url 'ProductDetail' pdc.id %}" class="btn">
                        <div class="goodnesssec buttermilk curdbgpro">
                            <img src="{{pdc.image.url}}" width="300px" height="300px" />
                            <div class="fw-bold">{{pdc.name}}</div>
                            <div class="fw-bold text-danger">
                                Rs. {{pdc.discounted_price}} /-
                                <small class="fw-light text-decoration-line-through">
                                    {{pdc.selling_price}}
                                </small>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>


        </div>
    </div>


{% endblock main-content %}